<section id="faq_section">
    <div id="arrow_container">
        <img src="./assets/icons/double.svg" alt="arrow image">
    </div>
    <h2>Preguntas Frecuentes</h2>
    <div id="details_container">
        <details open>
            <summary>¿Cómo puedo realizar un pedido?</summary>
            <p>Puedes realizar un pedido fácilmente desde nuestra página web. Solo busca el producto, añádelo al carrito y completa la compra.</p>
        </details>
        <details>
            <summary>¿Cómo sé si cabe un accesorio en mi mueble?</summary>
            <p>Consulta nuestra guía de medidas en la página del producto para verificar el ajuste.</p>
        </details>
        <details>
            <summary>¿Qué pasa si el producto que quiero está agotado?</summary>
            <p>Regístrate para recibir una notificación cuando el producto esté disponible nuevamente.</p>
        </details>
        <details>
            <summary>¿Cuál es el plazo de entrega?</summary>
            <p>Los pedidos se entregan en <i>3-5 días hábiles</i>. Recibirás actualizaciones por correo.</p>
        </details>
        <details>
            <summary>¿Qué plazo tengo para devolver un producto?</summary>
            <p>Devoluciones permitidas dentro de <i>100 días</i>, siempre que el producto esté en su estado original.</p>
        </details>
        <details>
            <summary>¿Cómo solicito una devolución?</summary>
            <p>Visita nuestra sección de devoluciones y completa el formulario indicado.</p>
        </details>
        <details>
            <summary>¿Los profesionales tienen ventajas especiales?</summary>
            <p>Acceso a descuentos y servicios exclusivos. Contacta con nosotros para registrarte.</p>
        </details>
        <details>
            <summary>¿Cómo puedo contactar con atención al cliente?</summary>
            <p>Escríbenos a <i>CompactLifesSupport&#64;gmail.com</i> para resolver tus dudas.</p>
        </details>
    </div>
</section>
