<header class="header">
  <div class="header__container">
    <!-- Logo -->
    <div>
      <a href="#">
        <img src="./assets/images/CompactLifes_logo.svg" alt="Logo" />
      </a>
    </div>
    <!-- ./logo -->

    <!-- searchBar -->
    <div class="max-w-md mx-auto">
      <div
        class="relative flex items-center w-full h-12 rounded-2xl focus-within:shadow-lg bg-gray-100 overflow-hidden"
      >
        <div class="grid place-items-center h-full w-12 text-gray-300">
          <img src="./assets/icons/search.svg" alt="search-icon" />
        </div>

        <input
          class="peer h-full w-full outline-none text-[18px] text-black font-medium pr-2"
          type="text"
          id="search"
          placeholder="¿Que buscar hoy?"
        />
      </div>
    </div>
    <!-- ./searchBar -->
    
    <!-- header-icons -->
    <ul>
      <li>
        <a href="#"
          ><span
            ><img src="./assets/icons/profile.svg" alt="profile-icon" /></span
        ></a>
      </li>
      <li>
        <a href="#"
          ><span
            ><img src="./assets/icons/wishlist.svg" alt="wishlist-icon" /></span
        ></a>
      </li>
      <li>
        <a href="#"
          ><span
            ><img
              src="./assets/icons/shoppingBag.svg"
              alt="shoppingbag-icon" /></span
        ></a>
      </li>
      <li>
        <a href="#"
          ><span
            ><img
              src="./assets/icons/hamburger.svg"
              alt="hamburger-icon" /></span
        ></a>
      </li>
    </ul>

    <!-- ./header-icons -->
  </div>
</header>
