.wrap {
  position: relative;
  cursor: pointer;
}

.wrap:after {
  content: "";
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  border-radius: 50%;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.wrap:hover:after {
  opacity: 1;
}

@media (min-width: 1024px) {
  #icon-profile {
    display: inline-flex;
    align-items: center;
  }

  #icon-profile:hover:after {
    content: "";
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 50rem;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  }

  #icon-profile span {
    display: inline-block;
    margin-left: 8px;
  }

  .flex-shrink-0 img:nth-child(2) {
    display: block;  
  }

  #navbar {
    display: block;  
  }

  #icon-hamburger {
    display: none; 
  }

  @media (min-width: 1280px) {
    #icon-profile span {
      display: inline-block;  
    }
  }
}

@media (max-width: 1023px) {
  #icon-profile:hover:after {
    opacity: 1;
  }

  #icon-profile span {
    display: none;
  }

  .flex-shrink-0 img:nth-child(2) {
    display: none;
  }

  #icon-hamburger {
    display: block;
  }
}

#navbar ~ .flex ul #icon-hamburger {
  display: none; 
}


#navbar ~ .flex ul #icon-profile span {
  display: inline-block;  
}

#navbar {
  display: none; 
}

@media (min-width: 1024px) {
  #navbar {
    display: block;  
  }
}

.image-container {
  width: 100%;
  padding-top: 100%; 
  position: relative;
  overflow: hidden;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media screen and (max-width: 1280px) {
  .arrowHidden {
    display: none;  
  }
}