<div class="stats-section py-10 px-5">
    <div
      class="stats-grid z-20 max-w-max rounded-xl bg-[#05BFFF] dark:bg-[#69a0cc] mx-auto grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 items-center justify-between md:px-10 gap-x-10 py-10 px-5 lg:px-10 gap-y-5">
      <div class="col-span-1 md:col-span-3 lg:col-span-1 flex flex-col items-center justify-center gap-y-3">
        <h2 class="text-3xl md:pb-5 md:text-3xl text-white dark:text-gray-200 font-bold">Compra: rapido, facil y sin complicaciones</h2>
      </div>
      <div class="col-span-1 md:col-span-1 lg:col-span-1 flex flex-col items-center justify-center gap-y-3">
        <h2 class="text-3xl lg:text-5xl text-white dark:text-gray-200 font-bold"><img src="./assets/icons/24-7.svg" class="w-10 h-10"></h2>
        <p class="text-center text-sm md:text-base text-white dark:text-gray-200">Envio a domicilio en 24h</p>
      </div>
      <div class="col-span-1 md:col-span-1 lg:col-span-1 flex flex-col items-center justify-center gap-y-3">
        <h2 class="text-3xl lg:text-5xl text-white dark:text-gray-200 font-bold"><img src="./assets/icons/return.svg" class="w-10 h-10"></h2>
        <p class="text-center text-sm md:text-base text-white dark:text-gray-200">Devolución gratuita en tienda</p>
      </div>
      <div class="col-span-1 md:col-span-1 lg:col-span-1 flex flex-col items-center justify-center gap-y-3">
        <h2 class="text-3xl lg:text-5xl text-white dark:text-gray-200 font-bold"><img src="./assets/icons/happy.svg" class="w-10 h-10"></h2>
        <p class="text-center text-sm md:text-base text-white dark:text-gray-200">100 días para cambiar de opinión</p>
      </div>
    </div>
  </div>