<section class="bg-white w-full">
  <div class="py-4 px-6 sm:px-8 lg:px-12 w-full h-auto lg:h-[600px]">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-4 h-full">
      <!-- Primer Contenedor -->
      <div class="col-span-2 sm:col-span-1 md:col-span-2 bg-gray-50 flex flex-col h-full">
        <a href="#" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 flex-grow">
          <img src="./assets/images/collage3_resized.jpg" alt="Sol y terraza" 
               class="absolute inset-0 w-full h-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
          <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
          <h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 md:text-3xl">Sol y terraza</h3>
        </a>
      </div>

      <!-- Segundo Contenedor -->
      <div class="col-span-2 sm:col-span-1 md:col-span-2 bg-stone-50 flex flex-col h-full">
        <a href="#" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 flex-grow">
          <img src="./assets/images/collage1.jpg" alt="Dale vida nueva a tu hogar" 
               class="absolute inset-0 w-full h-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
          <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
          <h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 md:text-3xl">Dale vida nueva a tu hogar</h3>
        </a>

        <!-- Mini imágenes dentro del collage -->
        <div class="grid gap-4 grid-cols-2 sm:grid-cols-2 lg:grid-cols-2 pt-5">
          <a href="#" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 flex-grow">
            <img src="./assets/images/collage2.jpg" alt="Hogar feliz" 
                 class="absolute inset-0 w-full h-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
            <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
            <h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 md:text-3xl">Hogar feliz</h3>
          </a>
          <a href="#" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 flex-grow">
            <img src="./assets/images/collage4.jpg" alt="Haz de tu casa un santuario" 
                 class="absolute inset-0 w-full h-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
            <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
            <h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 md:text-3xl">Haz de tu casa un santuario</h3>
          </a>
        </div>
      </div>

      <!-- Tercer Contenedor -->
      <div class="col-span-2 sm:col-span-1 md:col-span-1 bg-sky-50 flex flex-col h-full">
        <a href="#" class="group relative flex flex-col overflow-hidden rounded-lg px-4 pb-4 pt-40 flex-grow">
          <img src="./assets/images/collage5.jpg" alt="Innovación en cada rincón" 
               class="absolute inset-0 w-full h-full object-cover group-hover:scale-105 transition-transform duration-500 ease-in-out">
          <div class="absolute inset-0 bg-gradient-to-b from-gray-900/25 to-gray-900/5"></div>
          <h3 class="z-10 text-2xl font-medium text-white absolute top-0 left-0 p-4 md:text-3xl">Innovación en cada rincón</h3>
        </a>
      </div>
    </div>
  </div>
</section>
