.smooth-scroll {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.product-carousel-container {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;     /* Firefox */
}

.product-carousel-container::-webkit-scrollbar {
  display: none;             /* Chrome, Safari y Opera */
}

.wrap {
  position: relative;
  cursor: pointer;
}

.wrap:after {
  content: "";
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  top: -0px;
  left: -0px;
  bottom: -0px;
  right: -0px;
  border-radius: 50%;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.wrap:hover:after {
  opacity: 1;
}

.transparent-bg {
  background-color: rgba(0, 0, 0, 0.5);
}
