<div class="w-full bg-gray-100">
  <h1 class="text-3xl font-bold lg:text-right pr-15 pt-5 mb-4 text-center">
    Outlet
  </h1>

  <div
    #carousel
    class="flex space-x-4 overflow-x-auto select-none product-carousel-container pb-10"
    (scroll)="onScroll()"
    (mousedown)="onMouseDown($event)"
    (mouseleave)="onMouseLeave()"
    (mouseup)="onMouseUp()"
    (mousemove)="onMouseMove($event)"
  >
    <div
      *ngFor="let product of displayProducts"
      class="min-w-[250px] flex-shrink-0 bg-white rounded-lg shadow p-4 flex flex-col items-center product-card relative"
    >
      <div
        class="absolute top-2 left-2 transparent-bg text-white text-xs font-semibold px-2 py-1 rounded"
      >
        Express
      </div>

      <img
        [src]="product.imagen"
        [alt]="product.nombre"
        class="w-32 h-32 object-cover rounded-full mb-2"
      />

      <h2 class="text-lg font-semibold mb-1 text-center">
        <a href="" class="hover:underline">{{ product.nombre }}</a>
      </h2>

      <p class="text-sm text-gray-500 mb-2 text-center h-12 overflow-hidden">
        {{ (product.descripcion.length > 30) ? (product.descripcion | slice:0:30) + '...' : product.descripcion }}
      </p>

      <div class="mb-2">
        <span class="text-xl font-bold text-black">${{ product.precio }}</span>
        <span *ngIf="product.descuento" class="ml-2 text-sm text-red-500">
          {{ product.descuento }}% off
        </span>
      </div>

      <div class="mb-2">
        <span
          *ngIf="product.stock; else outStock"
          class="text-sm text-gray-900"
          >Disponible</span
        >
        <ng-template #outStock>
          <span class="text-sm text-gray-400">Agotado</span>
        </ng-template>
      </div>

      <div class="flex space-x-2">
        <button
          (click)="toggleWishlist(product.id)"
          id="icon-wishlist"
          class="wrap p-2"
        >
          <img
            [src]="
              isInWishlist(product.id)
                ? './assets/icons/wishlist-filled.svg'
                : './assets/icons/wishlist.svg'
            "
            alt="wishlist-icon"
            class="w-6"
          />
        </button>
        <button
          (click)="addToCart(product)"
          id="icon-shoppingBag"
          class="wrap p-2"
        >
          <img
            src="./assets/icons/shoppingBag.svg"
            alt="shoppingbag-icon"
            class="w-6"
          />
        </button>
      </div>
    </div>
  </div>
</div>
